<div id="content-w2"> 
    
    

    
    
<div id="system-message-container">
</div>
    <div class="item-page">

  <h2>
      About   </h2>

<%= text %>

<p style="margin: 20px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
  <!--<img alt="" src="http://thebikedepot.org/images/Photos/180612_496773781149_1819622_n.jpg" />--><iframe allowfullscreen="" frameborder="0" height="405" mozallowfullscreen="" src="http://player.vimeo.com/video/40452725?byline=0&amp;portrait=0" webkitallowfullscreen="" width="720"></iframe></p>
<p style="margin: 8px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
  &nbsp;</p>
 
  
</div>

  </div>
