<div id="content-w2"> 
    
    

    
    
<div id="system-message-container">
</div>
    <div class="item-page">

  <h2>
      Staff and Board   </h2>








<p style="text-align: justify;">
  <span style="font-size:14px;">Here at the Bike Depot we are lucky to have an amazing Staff and Board of Directors who work extra hard every day to further the mission of the Bike Depot.&nbsp; We would like to introduce you to all these friendly people and encourage you to seek us out and say "hello!"</span></p>
<p>
  &nbsp;</p>
<p>
  <em><strong><span style="font-size:20px;">Our Fabulous Staff</span></strong></em></p>
<p>
  <span style="font-size:14px;"><a href="/index.php/about/staff-board/17-about/staff-board/38-james-pullen">James Pullen</a>&nbsp;<br>
  Operations Manager<br>
  
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy48943 = 'j&#97;m&#101;rs' + '&#64;';
 addy48943 = addy48943 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy48943 + '\'>');
 document.write(addy48943);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:jamers@thebikedepot.org">jamers@thebikedepot.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></p>
<p>
  <span style="font-size:14px;"><a href="/index.php/about/staff-board/17-about/staff-board/39-ryne-emory">Ryne Emory</a>&nbsp;<br>
  Program Associate<br>
  
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy88488 = 'ryn&#101;' + '&#64;';
 addy88488 = addy88488 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy88488 + '\'>');
 document.write(addy88488);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:ryne@thebikedepot.org">ryne@thebikedepot.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></p>
<p>
  <span style="font-size:14px;"><a href="/index.php/about/staff-board/17-about/staff-board/44-morgan-matter">Morgan Matter</a><br>
  Service Manager<br>
  
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy17604 = 'm&#111;rg&#97;n' + '&#64;';
 addy17604 = addy17604 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy17604 + '\'>');
 document.write(addy17604);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:morgan@thebikedepot.org">morgan@thebikedepot.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></p>
<p>
  <span style="font-size:14px;"><a href="/index.php/about/staff-board/17-about/staff-board/43-bill-davis">Bill Davis</a><br>
  Mechanic<br>
  
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy15268 = 'b&#105;ll' + '&#64;';
 addy15268 = addy15268 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy15268 + '\'>');
 document.write(addy15268);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:bill@thebikedepot.org">bill@thebikedepot.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></p>
<p>
  <span style="font-size:14px;"><a href="/index.php/about/staff-board/17-about/staff-board/42-mike-decker">Mike Decker</a><br>
  Retail Associate<br>
  
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy85062 = 'm&#105;k&#101;' + '&#64;';
 addy85062 = addy85062 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy85062 + '\'>');
 document.write(addy85062);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:mike@thebikedepot.org">mike@thebikedepot.org</a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></span></p>
<p>
  &nbsp;</p>
<p>
  <strong><em><span style="font-size:20px;"><a href="/index.php/about/staff-board/17-about/staff-board/7-board">Board of Directors</a></span></em></strong></p>
 
  
</div>

  </div>
