<div id="wrapper">
  

  <br clear="all">
  
  <!-- Breadcrumbs -->
  

  <!-- Left Menu -->
  

  <!-- Right Menu -->
    <div id="rightmenu">
        <div class="moduletable">
          

<div class="custom">
  <h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">2825 Fairfax Street</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">Denver, CO 80207</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">(303) 393-1963</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></h2>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="http://www.givingfirst.org/index.php?section=organizations&amp;action=newDonation&amp;fwID=27598" target="_blank"><img alt="" src="http://thebikedepot.org/images/Donate Now button.jpg" style="height: 102px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="https://www.facebook.com/TheBikeDepot" target="_blank"><img alt="" src="http://thebikedepot.org/images/facebook-logo.jpg" style="height: 57px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p>
  <a href="http://www.thebikedepot.org/index.php?option=com_content&amp;view=category&amp;id=27" target="_self"><img alt="" src="http://thebikedepot.org/images/121228-tbd-webcolor copy-1.jpg" style="height: 111px; width: 190px; "></a></p>
</div>
    </div>
  
    
    
  </div>
    


  <!-- Contents -->
    <div id="content-w2"> 
    
        <div id="content-top">
      
<div id="djslider-loader130" class="djslider-loader" style="background-image: none; padding-top: 0px; padding-bottom: 0px; background-position: initial initial; background-repeat: initial initial;">
    <div id="djslider130" class="djslider" style="opacity: 1; visibility: visible; width: 700px; height: 375px;">
        <div id="slider-container130" class="slider-container">
          <ul id="slider130" style="position: relative; width: 700px;">
                              <li style="position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; width: 700px; height: 375px;">
                                                      <a href="/index.php/about/contact" target="_self">
                              <img src="/images/depot staff.jpg" alt="Bike Depot Staff">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Bike Depot Staff                                  </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                                <li style="position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; width: 700px; height: 375px;">
                                                      <a href="/index.php/programs" target="_self">
                              <img src="/images/Photos/fyb father and son smiling.jpg" alt="Bike Depot Community Programs">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Bike Depot Community Programs                                 </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                                <li style="position: absolute; top: 0px; left: 0px; opacity: 1; visibility: visible; width: 700px; height: 375px;">
                                                      <a href="/index.php/support/organizing-a-bike-collection-drive" target="_self">
                              <img src="/images/mp900427870.jpg" alt="Organize a Bike Collection Drive">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Organize a Bike Collection Drive                                  </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                          </ul>
        </div>
                <div id="navigation130" class="navigation-container">
                    <img id="prev130" class="prev-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/prev.png" alt="Previous" style="opacity: 0;">
      <img id="next130" class="next-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/next.png" alt="Next" style="opacity: 0;">
                    </div>
                    </div>
</div>
  
<div style="clear: both"></div>


    </div>
    

    
    
<div id="system-message-container">
</div>
    <div class="item-page">
  <h1>
  Home  </h1>









<p>
  <span style="font-size: 18px; text-align: justify;">Welcome to the Bike Depot</span></p>


<%= text %>

<div>
  <span style="font-size: 16px; ">&nbsp; </span></div>
<div style="text-align: center; ">
  &nbsp;</div>
<div style="text-align: center; ">
  <span style="font-size: 18px; font-weight: bold;">Get Involved</span><span style="font-size: 16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><strong style="font-size: 16px; "><span style="font-size: 18px;">Explore Our Bike Shop</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size: 18px;">Support &nbsp;&nbsp;</span></strong></div>
<div style="text-align: center; ">
  <a href="http://www.thebikedepot.org/index.php/programs"><img alt="" src="http://thebikedepot.org/images/Square/bike_depot_rodesquare.jpg" style="height: 210px; width: 210px; "></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.thebikedepot.org/index.php/bike-shop"><img alt="" src="http://thebikedepot.org/images/Square/bike shopsquare.jpg" style="height: 210px; width: 210px; "></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.thebikedepot.org/index.php/support"><img alt="" src="http://thebikedepot.org/images/Photos/support square.jpg" style="height: 210px; width: 210px; "></a></div>
<div>
  &nbsp;</div>
<div>
  &nbsp;</div>
<div style="text-align: center; ">
  <strong><span style="font-size:22px;"><a href="http://www.thebikedepot.org/index.php/support/memberships">Benefits of Becoming a Bike Depot Member</a></span></strong></div>
 
  
</div>

  </div>

  <!-- Three Picture Places -->
  <div id="Three Picture Places"> 
    <div class="position 15">
      
    </div>

    <div class="position 16">
      
    </div>

    <div class="position 17">
      
    </div>

  <!-- Footer -->
  <div id="footer">
    
    
  </div>

  <div id="push"></div>

</div>




</div>
