<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="/images/home-1.jpg" alt="">
    </div>
    <div class="item"><img src="/images/home-3.jpg" alt=""></div>
    <div class="item"><img src="/images/home-2.jpg" alt=""></div>
  </div>

  <!-- Carousel nav -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<%= text %>

<img src='/images/home-1.jpg' alt='Get Involved!!'>
<img src='/images/home-2.jpg' alt='Explore Our Bike Shop!!'>
<img src='/images/home-3.jpg' alt='Support!!'>

<!-- 
<div id="wrapper">
  

  <br clear="all">
  
  <!-- Breadcrumbs -->
  

  <!-- Left Menu -->
  

  <!-- Right Menu -->
    <div id="rightmenu">
        <div class="moduletable">
          

<div class="custom">
  <h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">2825 Fairfax Street</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">Denver, CO 80207</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">(303) 393-1963</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></h2>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="http://www.givingfirst.org/index.php?section=organizations&amp;action=newDonation&amp;fwID=27598" target="_blank"><img alt="" src="http://thebikedepot.org/images/Donate Now button.jpg" style="height: 102px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="https://www.facebook.com/TheBikeDepot" target="_blank"><img alt="" src="http://thebikedepot.org/images/facebook-logo.jpg" style="height: 57px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p>
  <a href="http://www.thebikedepot.org/index.php?option=com_content&amp;view=category&amp;id=27" target="_self"><img alt="" src="http://thebikedepot.org/images/121228-tbd-webcolor copy-1.jpg" style="height: 111px; width: 190px; "></a></p>
</div>
    </div>
  
    
    
  </div>
    


  <!-- Contents -->
    <div id="content-w2"> 
    
        <div id="content-top">
      
<div id="djslider-loader130" class="djslider-loader" style="background-image: none; padding-top: 0px; padding-bottom: 0px; background-position: initial initial; background-repeat: initial initial;">
    <div id="djslider130" class="djslider" style="opacity: 1; visibility: visible; width: 700px; height: 375px;">
        <div id="slider-container130" class="slider-container">
          <ul id="slider130" style="position: relative; width: 700px;">
                              <li style="position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; width: 700px; height: 375px;">
                                                      <a href="/index.php/about/contact" target="_self">
                              <img src="/images/depot staff.jpg" alt="Bike Depot Staff">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Bike Depot Staff                                  </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                                <li style="position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; width: 700px; height: 375px;">
                                                      <a href="/index.php/programs" target="_self">
                              <img src="/images/Photos/fyb father and son smiling.jpg" alt="Bike Depot Community Programs">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Bike Depot Community Programs                                 </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                                <li style="position: absolute; top: 0px; left: 0px; opacity: 1; visibility: visible; width: 700px; height: 375px;">
                                                      <a href="/index.php/support/organizing-a-bike-collection-drive" target="_self">
                              <img src="/images/mp900427870.jpg" alt="Organize a Bike Collection Drive">
                              </a>
                                                  <!-- Slide description area: START -->
            <div class="slide-desc">
              <div class="slide-desc-in"> 
              <div class="slide-desc-bg"></div>
              <div class="slide-desc-text">
                              <div class="slide-title">
                                      Organize a Bike Collection Drive                                  </div>
                            
                              <div class="slide-text">
                                                                        </div>
                            
                            <div style="clear: both"></div>
              </div>
              </div>
            </div>
            <!-- Slide description area: END -->
                        
            
          </li>
                          </ul>
        </div>
                <div id="navigation130" class="navigation-container">
                    <img id="prev130" class="prev-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/prev.png" alt="Previous" style="opacity: 0;">
      <img id="next130" class="next-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/next.png" alt="Next" style="opacity: 0;">
                    </div>
                    </div>
</div>
  
<div style="clear: both"></div>


    </div>
    

    
    
<div id="system-message-container">
</div>
    <div class="item-page">
  <h1>
  Home  </h1>

