<div class="col-lg-9"> 
<div class="well">
  <%= text %>
</div>
  <img src='/images/home-1.jpg' alt='Get Involved!!'>
  <img src='/images/home-2.jpg' alt='Explore Our Bike Shop!!'>
  <img src='/images/home-3.jpg' alt='Support!!'>
</div>
<div class="col-lg-3 well"> 
  <!-- Right Menu -->
    <div id="rightmenu">
        <div class="moduletable">


<div class="custom">
  <h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">2825 Fairfax Street</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">Denver, CO 80207</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">(303) 393-1963</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></h2>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="http://www.givingfirst.org/index.php?section=organizations&amp;action=newDonation&amp;fwID=27598" target="_blank"><img alt="" src="http://thebikedepot.org/images/Donate Now button.jpg" style="height: 102px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="https://www.facebook.com/TheBikeDepot" target="_blank"><img alt="" src="http://thebikedepot.org/images/facebook-logo.jpg" style="height: 57px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="http://www.thebikedepot.org/index.php?option=com_content&amp;view=category&amp;id=27" target="_self"><img alt="" src="http://thebikedepot.org/images/121228-tbd-webcolor copy-1.jpg" style="height: 111px; width: 190px; "></a></p>
</div>
    </div>
  
    
    
  </div>
          </div>


  
  

    


  
            
       
           
    


