<div id="wrapper">

  <div id="header">

    <!-- TopNav -->
        


    <!-- Logo -->
    <div id="logo">
      
              <a href="/"><img src="/templates/bikedepottemplatefallseason/images/logo.gif" alt="bikedepot"></a>
            
      </div>
  
    <!-- Search -->
    <div id="search">   
      
    </div>
  </div>
  
  <div id="topmenu">
    
<ul class="menu">
<li class="item-101"><a href="/">Home</a></li><li class="item-103 active deeper parent"><a href="/about">About</a><ul><li class="item-147 current active"><a href="/index.php/about/mission-vision-and-values">Mission, Vision and Values</a></li><li class="item-114"><a href="/index.php/about/history">History</a></li><li class="item-115"><a href="/index.php/about/staff-board">Staff &amp; Board</a></li><li class="item-120"><a href="/index.php/about/contact">Contact &amp; Hours</a></li><li class="item-150"><a href="/index.php/about/privacy-policy">Privacy Policy</a></li></ul></li><li class="item-106 deeper parent"><a href="/index.php/programs">Programs</a><ul><li class="item-133"><a href="/index.php/programs/earn-a-bike">Earn A Bike</a></li><li class="item-134"><a href="/index.php/programs/fix-your-bike">Fix Your Bike</a></li><li class="item-135"><a href="/index.php/programs/classes">Classes</a></li><li class="item-136"><a href="/index.php/programs/bike-camp">Bike Camp</a></li><li class="item-152"><a href="/index.php/programs/bike-rodeo">Bike Rodeo</a></li></ul></li><li class="item-110 deeper parent"><a href="/index.php/bike-shop">Bike Shop</a><ul><li class="item-137"><a href="/index.php/bike-shop/retail">Retail</a></li><li class="item-138"><a href="/index.php/bike-shop/service">Service Menu</a></li><li class="item-187"><a href="/index.php/bike-shop/xtracycle">Xtracycle </a></li></ul></li><li class="item-112 deeper parent"><a href="/index.php/support">Support</a><ul><li class="item-139"><a href="/index.php/support/volunteer">Volunteer</a></li><li class="item-140"><a href="/index.php/support/donate-bikes">Donate Bikes</a></li><li class="item-148"><a href="/index.php/support/organizing-a-bike-collection-drive">Organizing a Bike Collection Drive</a></li><li class="item-141"><a href="/index.php/support/memberships">Memberships</a></li><li class="item-121"><a href="/index.php/support/wish-list">Wish List</a></li></ul></li><li class="item-111 deeper parent"><a href="/index.php/events">Events</a><ul><li class="item-142"><a href="/index.php/events/calendar">Calendar</a></li><li class="item-143"><a href="/index.php/events/park-hill-family-bike-ride">Park Hill Family Bike Ride</a></li></ul></li><li class="item-113 deeper parent"><a href="/index.php/links">Links</a><ul><li class="item-144"><a href="/index.php/links/business-partners">Business Partners</a></li><li class="item-145"><a href="/index.php/links/friends">Friends</a></li><li class="item-146"><a href="/index.php/links/we-love">We Love...</a></li></ul></li></ul>

  </div>
  <br clear="all">
  
  <!-- Breadcrumbs -->
  

  <!-- Left Menu -->
  

  <!-- Right Menu -->
    <div id="rightmenu">
        <div class="moduletable">
          

<div class="custom">
  <h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">2825 Fairfax Street</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=10676092889539153742&amp;q=The+Bike+Depot&amp;iwloc=A&amp;gl=US&amp;hl=en-US" target="_blank"><span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">Denver, CO 80207</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
<h2 style="text-align: center;">
  <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">(303) 393-1963</span><span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></h2>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="http://www.givingfirst.org/index.php?section=organizations&amp;action=newDonation&amp;fwID=27598" target="_blank"><img alt="" src="http://thebikedepot.org/images/Donate Now button.jpg" style="height: 102px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p style="text-align: center;">
  <a href="https://www.facebook.com/TheBikeDepot" target="_blank"><img alt="" src="http://thebikedepot.org/images/facebook-logo.jpg" style="height: 57px; width: 190px; "></a></p>
</div>
    </div>
      <div class="moduletable">
          

<div class="custom">
  <p>
  <a href="http://www.thebikedepot.org/index.php?option=com_content&amp;view=category&amp;id=27" target="_self"><img alt="" src="http://thebikedepot.org/images/121228-tbd-webcolor copy-1.jpg" style="height: 111px; width: 190px; "></a></p>
</div>
    </div>
  
    
    
  </div>
    


  <!-- Contents -->
    <div id="content-w2"> 
    
    

    
    
<div id="system-message-container">
</div>
    <div class="item-page">

  <h2>
      Mission, Vision and Values    </h2>








<p style="text-align: justify; ">
  <strong><span style="color:#008080;"><span style="font-size: 14px; "><big><u>Our Mission</u></big></span></span></strong></p>
<p style="text-align: justify; ">
  <span style="font-size: 14px;">We strive to foster the growth of bicyclists and bicycle communities through programs, education and access.</span></p>
<p style="text-align: justify; ">
  <strong><span style="color:#008080;"><span style="font-size: 14px; "><big><u>Our Vision</u></big></span></span></strong></p>
<p style="text-align: justify; ">
  <span style="font-size:14px;">We envision a world where bicycling is a way of life in our communities.</span></p>
<p style="text-align: justify; ">
  <span style="color:#008080;"><strong><span style="font-size: 14px; "><big><u>Our Values</u></big></span></strong></span></p>
<p>
  <img alt="" src="http://thebikedepot.org/images/Photos/534470_10150881921706150_1143030242_n.jpg" style="text-align: justify; font-family: Arial; font-size: 13px; height: 263px; width: 350px; float: right; "></p>
<ul>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Safety</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Personal health</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Environmental health</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Fun!</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Creating community</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Sustainability</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Diversity</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Equality</span></span></li>
  <li style="font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify; ">
    <span style="font-size:14px;">Education</span></li>
  <li style="FONT-WEIGHT:normal;FONT-SIZE:13px;VERTICAL-ALIGN:baseline;FONT-STYLE:normal;FONT-FAMILY:Arial;LIST-STYLE-TYPE:disc;BACKGROUND-COLOR:transparent;FONT-VARIANT:normal;TEXT-DECORATION:none">
    <span style="font-size:14px;"><span style="font-weight: normal; vertical-align: baseline; font-style: normal; font-family: Arial; background-color: transparent; font-variant: normal; text-decoration: none; ">Self-sufficiency</span></span></li>
</ul>
 
  
</div>

  </div>

  <!-- Three Picture Places -->
  <div id="Three Picture Places"> 
    <div class="position 15">
      
    </div>

    <div class="position 16">
      
    </div>

    <div class="position 17">
      
    </div>

  <!-- Footer -->
  <div id="footer">
    
    
  </div>

  <div id="push"></div>

</div>




</div>
