<div id="myCarousel" class="carousel slide">
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header" style='text-decoration: none'>
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><font size ='6'>Bike Depot</font></a>

          </div>

          <div class="navbar-collapse collapse">

            <!-- Home -->

            <ul class="nav navbar-nav">

              <a class="navbar-brand" href="/"><font size ='4'>Home</font></a>

            <!-- About -->

            <li class="dropdown" role="menu">

                <a class="dropdown-toggle" data-toggle="dropdown" href="/about" id="themes"><font size ='4'>About</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">
                 <li><a class="hc" href="/about">About Us</a></form></li>
                  <li><a class="hc" href="/about/mission-vision-and-values">Mission, Vision and Values</a></form></li>
                  <li><a class="hc" href="/about/history">History</a></li>
                  <li><a class="hc" href="/about/staff-board">Staff <%= '&' %> Board</a></li>
                  <li><a class="hc" href="/about/contact">Contact <%= '&' %> Hours</a></li>
                  <li><a class="hc" href="/about/privacy-policy">Privacy Policy</a></li>

                </ul>

              </li>

              <!-- Programs -->

              <li class="dropdown">

                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="/programs" id="themes"><font size ='4'>Programs</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a class="hc" href="/programs">Programs</a></li>


                  <li><a class="hc" href="/programs/earn-a-bike">Earn A Bike</a></form></li>
                  <li><a class="hc" href="/programs/fix-your-bike">Fix Your Bike</a></li>
                  <li><a class="hc" href="/programs/classes">Classes</a></li>
                  <li><a class="hc" href="/programs/bike-camp">Bike Camp</a></li>
                  <li><a class="hc" href="/programs/bike-rodeo">Bike Rodeo</a></li>

                </ul>

              </li>

              <!-- Bike Shop -->

              <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="/programs" id="themes"><font size ='4'>Bike Shop</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">

                  <li><a class="hc" href="/bike-shop/retail">Retail</a></form></li>
                  <li><a class="hc" href="/bike-shop/service">Service Menu</a></li>
                  <li><a class="hc" href="/bike-shop/xtracycle">Xtracycle</a></li>

                </ul>

              </li>

              <!-- Support -->
              <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="/support" id="themes"><font size ='4'>Support</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">

                  <li><a class="hc" href="/support/volunteer">Volunteer</a></form></li>
                  <li><a class="hc" href="/support/donate-bikes">Donate Bikes</a></li>
                  <li><a class="hc" href="/support/organizing-drive">Organizing a Bike Collection Drive</a></li>
                  <li><a class="hc" href="/support/memberships">Memberships</a></li>
                  <li><a class="hc" href="/support/wish-list">Wish List</a></li>

                </ul>

              </li>

              <!-- Events -->

              <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="/events" id="themes"><font size ='4'>Events</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">

                  <li><a class="hc" href="/events/calendar">Calendars</a></form></li>
                  <li><a class="hc" href="/events/park-hill">Park Hill Family Bike Ride</a></li>

                </ul>

              </li>

              <!-- Links -->

              <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="/links" id="themes"><font size ='4'>Links</font><span class="caret"></span></a>
              
                <ul class="dropdown-menu" aria-labelledby="themes">

                  <li><a class="hc" href="/links/business-partners">Business Partners</a></form></li>
                  <li><a class="hc" href="/links/friends">Friends</a></li>
                  <li><a class="hc" href="/links/we-love">We Love...</a></li>

                </ul>

              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
